.button-row {
    margin-right: 10px;
    width: 175px;
    display: flex;
    align-items: right;
    justify-content: space-between;
}

.button-container {
    display: flex;
    align-items: right;
    justify-content: flex-end;
}