<h1>Change your Password</h1>

<div class="content">
    <ng-container *ngIf="!openedAsAdmin">
        <div class="row">
            <div class="key">
                Old Password
            </div>
            <form [formGroup]="oldPasswordForm" class="small-card">
                <mat-form-field class="example-full-width">
                    <input [type]="hidden['password'] ? 'password' : 'text'" matInput formControlName="password">
                    <mat-error *ngIf="oldPasswordForm.get('password')?.hasError('required')">
                        Enter your old password
                    </mat-error>
                    <mat-icon matSuffix (click)="changePasswordVisibility('password')" class="password-icon">
                        {{hidden['password'] ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
    </ng-container>
    <ng-container *ngIf="openedAsAdmin">
        <div class="row">
            <div class="key">
                New Password
            </div>
            <form [formGroup]="adminForm" class="small-card">
                <mat-form-field class="example-full-width">
                    <input [type]="hidden['newPassword'] ? 'password' : 'text'" matInput formControlName="newPassword">
                    <mat-error *ngIf="adminForm.hasError('required', 'newPassword')">
                        Enter your new Password
                    </mat-error>
                    <mat-error *ngIf="adminForm.hasError('minlength', 'newPassword')">
                        Min Password length is 8
                    </mat-error>
                    <mat-icon matSuffix (click)="changePasswordVisibility('newPassword')" class="password-icon">
                        {{hidden['newPassword'] ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </form>
        </div>
    </ng-container>
    <form [formGroup]="myForm" class="small-card">
        <ng-container *ngIf="!openedAsAdmin">
            <div class="row">
                <div class="key">
                    New Password
                </div>
                <mat-form-field>
                    <input [type]="hidden['newPassword'] ? 'password' : 'text'" matInput formControlName="newPassword"
                        [errorStateMatcher]="matcher">
                    <mat-error *ngIf="myForm.hasError('required', 'newPassword')">
                        Enter your new Password
                    </mat-error>
                    <mat-error *ngIf="myForm.hasError('minlength', 'newPassword')">
                        Min Password length is 8
                    </mat-error>
                    <mat-icon matSuffix (click)="changePasswordVisibility('newPassword')" class="password-icon">
                        {{hidden['newPassword'] ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="row">
                <div class="key">
                    Confirm Password
                </div>
                <mat-form-field>
                    <input [type]="hidden['confirmPassword'] ? 'password' : 'text'" matInput
                        formControlName="confirmPassword" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="myForm.hasError('notSame')">
                        Passwords do not match
                    </mat-error>
                    <mat-icon matSuffix (click)="changePasswordVisibility('confirmPassword')" class="password-icon">
                        {{hidden['confirmPassword'] ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </mat-form-field>
            </div>
        </ng-container>
        <div class="button-div">
            <button mat-raised-button class="margin-right" (click)="close()">Cancel</button>
            <button mat-raised-button color="primary" (click)="changePassword()"
                [disabled]="((myForm.hasError('notSame') || myForm.hasError('minlength', 'password') || myForm.hasError('required', 'password') || oldPasswordForm.get('password')?.hasError('required')) && !openedAsAdmin) ||
                ((adminForm.hasError('minlength', 'newPassword') || adminForm.hasError('required', 'newPassword')) && openedAsAdmin)">
                Change
                Password</button>
        </div>
    </form>
</div>