h1{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2rem;
}
.apply-button{
    margin: 0px 10px 10px 10px;
}
.input-div{
    margin: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
}
mat-form-field{
    margin: 5px;
    width: 150px;
}
.button-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form {
    width: auto;
}