h1 {
    text-align: center;
}
.buttons{
    margin: 5px;
}
.buttons-div{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -10px;
}
.text-div{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 10px;
}