<h1>{{ Title }}</h1>
<div class="input-div">
    <mat-form-field>
        <mat-label>firstname</mat-label>
        <input matInput [(ngModel)]="firstname">
    </mat-form-field>
    <mat-form-field>
        <mat-label>lastname</mat-label>
        <input matInput [(ngModel)]="lastname">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose the user type</mat-label>
        <mat-select (selectionChange)="changeTypeOfUser($event.value)">
            <ng-container *ngFor="let option of typeOfUsers">
                <mat-option [value]="option">{{ option }}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="typeOfUser === 'saiber' || typeOfUser === 'loefti'">
        <mat-form-field>
            <mat-label>Class Id</mat-label>
            <input matInput [(ngModel)]="classId">
        </mat-form-field>
    </ng-container>
    <ng-container *ngIf="newUser">
        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput type="password" [(ngModel)]="password">
        </mat-form-field>
    </ng-container>
    <mat-checkbox [(ngModel)]="wireguard" (ngModelChange)="setWireguard()">Wireguard</mat-checkbox>
</div>
<div class="button-div">
    <button mat-raised-button color="primary" class="apply-button" (click)="applyChanges()">{{ buttonTitle }}</button>
</div>